.navstudent-ul {
    list-style-type: none;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
  .navstudent-li .a {
      font-weight: bold;
    display: block;
    color: #000;
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 2vw;
  }

 .navstudent-li .a:hover {
    color: black;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
  }